<h1>ENTER YO ALBUM KIMOSABI</h1>

<form action="/cd" method="post">
  <label for="artist"> Arteests:</label>
  <input type="text" id='artist' name="artist">

  <label for="album"> Albums:</label>
  <input type="text" id='album' name="album">

  <label for="year"> Years:</label>
  <input type="text" id='year' name="year">

<button type="submit"> Add yo Cd</button>
</form>
