<h1>add the to the jukebox</h1>

<form action="/jukeboxes" method="post">
  <label for="name"> Jukebox name: </label>
  <input id="name" name="name" type="text">
  <button type="submit"> Add Jukebox </button>
</form>
